* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1440px;
    padding: 0 80px;
    margin: 0 auto;
}


/* Font family */

@font-face {
    font-family: 'Fraunces';
    src: url(../fonts/fraunces/Fraunces_9pt-Black.ttf);
    src: url(../fonts/fraunces/Fraunces_9pt-Bold.ttf);
    src: url(../fonts/fraunces/Fraunces_9pt-Light.ttf);
    src: url(../fonts/fraunces/Fraunces_9pt-Regular.ttf);
    src: url(../fonts/fraunces/Fraunces_9pt-SemiBold.ttf);
}

@font-face {
    font-family: 'Barlow';
    src: url(../fonts/barlow/Barlow-Black.ttf);
    src: url(../fonts/barlow/Barlow-Bold.ttf);
    src: url(../fonts/barlow/Barlow-ExtraBold.ttf);
    src: url(../fonts/barlow/Barlow-ExtraLight.ttf);
    src: url(../fonts/barlow/Barlow-Light.ttf);
    src: url(../fonts/barlow/Barlow-Regular.ttf);
    src: url(../fonts/barlow/Barlow-Medium.ttf);
    src: url(../fonts/barlow/Barlow-SemiBold.ttf);
}


/* Header start */

.header {
    padding: 45px 0;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__main_nav---list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header__main_nav---list--item {
    margin-left: 32px;
}

.header__main_nav---list--item-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}


/* Main start */


/* Section one */

.section {
    background: url(../images/section_bgr.png);
    background-size: 1280px 100%;
    padding: 117px 85px;
}

.main__section--box {
    width: 495px;
}

.main__section--box-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.main__section--box-text {
    margin-top: 32px;
    margin-bottom: 56px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.main__section--box-btn {
    padding: 16px 32px;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FEFCF7;
}


/* Section two */

.section__two {
    padding: 0 165px;
    background-image: url(../images/section_bg.png);
    background-size: 1111px 196px;
    background-repeat: no-repeat;
    background-position: center 135px;
}

.section__two---cards {
    padding: 260px 0 180px;
    display: grid;
    grid-template-columns: repeat(4, 225px);
    gap: 30px;
    list-style: none;
}

.section__two---cards--item-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.section__two---cards--item-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}


/* Section tree */

.section__tree {
    background-image: url(../images/tree_bg.jpg);
    background-repeat: no-repeat;
}

.section__tree--box {
    padding: 100px 370px 90px;
}

.section__tree--box-title {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.section__tree--box-text {
    margin-top: 32px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
}

.section__tree---cards {
    padding: 0 85px;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 30px;
    list-style: none;
}

.section__tree---cards-item {
    padding: 72px 48px 48px;
    background: #0E8784;
    border-radius: 8px;
}

.section__tree---cards--item-img {
    display: block;
    margin-left: 88px;
}

.section__tree---cards--item-title {
    margin: 46px 0 24px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.section__tree---cards--item-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}


/* Section four */

.section__four-title {
    margin: 200px 85px 80px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.section__four--line {
    margin-left: 85px;
    display: grid;
    grid-template-columns: repeat(3, 31px);
    gap: 349px;
}

.section__four--line-circile {
    display: flex;
}

.section__four---cards {
    padding: 70px 85px 65px;
    display: grid;
    grid-template-columns: repeat(3, 285px);
    gap: 95px;
    list-style: none;
}

.section__four---cards--item-title {
    width: 215px;
    margin: 38px 0 42px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
}

.section__four---cards--item-text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.section__four-btn {
    padding: 16px 32px;
    margin: 64px 85px 200px;
    display: inline-block;
    background: #0E8784;
    border-radius: 6px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    color: #FEFCF7;
}


/* Footer start */

.footer {
    margin-bottom: 90px;
}

.footer__field {
    padding: 48.5px 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2C343E;
}

.footer__field---nav {
    display: flex;
    list-style: none;
}

.footer__field---nav--item {
    margin-left: 32px;
}

.footer__field---nav--item-link {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    text-decoration: none;
    color: #83888F;
}

.footer__field--btn-link {
    display: inline-block;
    margin-left: 24px;
}